@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    var currentUser = User.Identity.GetUserId();
}

<div class="jumbotron">
    <h2>Welcome to JDJ Task Management System</h2>
    <h4><a href="/Tasks/GetAllDeveloperTasks?developerId=@currentUser">All your tasks</a></h4>

</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>