@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
    var currentUser = @User.Identity.GetUserId();
}

    <div class="jumbotron">
        <h3>Welcome to JDJ Task Management System @User.Identity.GetUserName().Split('@')[0].ToUpperInvariant()</h3>
    </div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>